@import "tailwindcss";
@source "../views/vendor";
@plugin "daisyui";

/* Overriding primary colors for all themes */
:root {
  --color-primary: #3b82f6;
  --color-secondary: #245098;
  --color-accent: #f6af3b;
}
